#=============================================================================
# Defaults for everything
#
# If user does not set these in a configuration file then these values
# will be used.
#=============================================================================

#=============================================================================
# Commands
#=============================================================================

AMG_INSTALL="cp -fp"
AMG_MKDIR="mkdir"

export AMG_MKDIR AMG_INSTALL

#=============================================================================
# Tools
#=============================================================================

AMGTOOLS_CC="cc"
AMGTOOLS_CC_OPT="-O"
AMGTOOLS_CC_DEBUG="-g"
AMG_CC_FLAGS=""
AMGTOOLS_F77="f77"
AMGTOOLS_F77_OPT="-O"
AMGTOOLS_F77_DEBUG="-g"
AMG_F77_FLAGS=""
AMGTOOLS_LINK="cc"
AMG_LINK_FLAGS=""
AMGTOOLS_LIBS="-lm"
AMGTOOLS_INCLUDE=""
AMGTOOLS_MAKE="make"

export AMGTOOLS_CC AMGTOOLS_CC_OPT AMGTOOLS_CC_DEBUG AMGTOOLS_CC_FLAGS
export AMGTOOLS_F77 AMGTOOLS_F77_OPT AMGTOOLS_F77_DEBUG AMGTOOLS_F77_FLAGS
export AMGTOOLS_LINK AMG_LINK_FLAGS
export AMGTOOLS_LIBS AMGTOOLS_INCLUDE AMGTOOLS_MAKE

#=============================================================================
# AMG
#=============================================================================

AMG_CC="cc"
AMG_CC_OPT="-O"
AMG_CC_DEBUG="-g"
AMG_CC_FLAGS=""
AMG_F77="f77"
AMG_F77_OPT="-O"
AMG_F77_DEBUG="-g"
AMG_F77_FLAGS=""
AMG_LINK="f77"
AMG_LINK_FLAGS=""
AMG_LIBS="-lm"
AMG_INCLUDE=""
AMG_MAKE="make"

export AMG_CC AMG_CC_OPT AMG_CC_DEBUG AMG_CC_FLAGS
export AMG_F77 AMG_F77_OPT AMG_F77_DEBUG AMG_F77_FLAGS
export AMG_LINK AMG_LINK_FLAGS
export AMG_LIBS AMG_INCLUDE AMG_MAKE

