#=============================================================================
# Defaults for everything
#
# If user does not set these in a configuration file then these values
# will be used.
#=============================================================================

#=============================================================================
# Commands
#=============================================================================

AMG_INSTALL="cp -p"
AMG_MKDIR="mkdir"

export AMG_MKDIR AMG_INSTALL

#=============================================================================
# Tools
#=============================================================================

AMGTOOLS_CC="cc"
AMGTOOLS_F77="f77"
AMGTOOLS_OPT="-O"
AMGTOOLS_DEBUG="-g"
AMGTOOLS_F77_OPT="-O"
AMGTOOLS_F77_DEBUG="-g"
AMGTOOLS_LIBS="-lm"
AMGTOOLS_INCLUDE=""
AMGTOOLS_MAKE="make"

export AMGTOOLS_INCLUDE AMGTOOLS_LIBS AMGTOOLS_DEF AMGTOOLS_OPT AMGTOOLS_DEBUG
export AMGTOOLS_MAKE AMGTOOLS_CC AMGTOOLS_F77

export AMGTOOLS_CC AMGTOOLS_F77
export AMGTOOLS_OPT AMGTOOLS_DEBUG AMGTOOLS_F77_OPT AMGTOOLS_F77_DEBUG
export AMGTOOLS_LIBS AMGTOOLS_INCLUDE AMGTOOLS_MAKE

#=============================================================================
# AMG
#=============================================================================

AMG_CC="cc"
AMG_F77="f77"
AMG_OPT="-O"
AMG_DEBUG="-g"
AMG_F77_OPT="-O"
AMG_F77_DEBUG="-g"
AMG_LIBS="-lm"
AMG_INCLUDE=""
AMG_MAKE="make"

export AMG_CC AMG_F77
export AMG_OPT AMG_DEBUG AMG_F77_OPT AMG_F77_DEBUG
export AMG_LIBS AMG_INCLUDE AMG_MAKE

