#BHEADER***********************************************************************
# (c) 1996   The Regents of the University of California
#
# See the file COPYRIGHT_and_DISCLAIMER for a complete copyright
# notice, contact person, and disclaimer.
#
# $Revision$
#EHEADER***********************************************************************

#=============================================================================
# Configuration file for Irix systems
#=============================================================================

#=============================================================================
# AMG
#=============================================================================

#AMG_LIBS="-lmpc -lF77 -lfpe -lm"
AMG_LIBS="-lF77 -lU77 -lI77 -lisam -lfpe -lm"
AMG_MAKE="gmake"

export AMG_LIBS
export AMG_MAKE

