
#=============================================================================
# Configuration file for Sun SunOS systems
#=============================================================================

#=============================================================================
# Tools
#=============================================================================

AMGTOOLS_CC="gcc"
AMGTOOLS_LINK="gcc"
AMGTOOLS_LIBS="-L/usr/local/lib -lm"
AMGTOOLS_INCLUDE="-I/usr/local/include"

export AMGTOOLS_CC
export AMGTOOLS_LINK
export AMGTOOLS_LIBS AMGTOOLS_INCLUDE

#=============================================================================
# AMG
#=============================================================================

AMG_CC="gcc"
AMG_LINK="f77"
AMG_INCLUDE="-I/usr/local/include"
AMG_LIBS="-L/usr/local/lib -lm"

export AMG_CC
export AMG_LINK
export AMG_LIBS AMG_INCLUDE

