
#=============================================================================
# Configuration file for Sun SunOS systems
#=============================================================================

#=============================================================================
# Tools
#=============================================================================

AMGTOOLS_CC="gcc"
AMGTOOLS_INCLUDE="-I/usr/local/include"
AMGTOOLS_LIBS="-L/usr/local/lib -lm"

export AMGTOOLS_CC AMGTOOLS_INCLUDE AMGTOOLS_LIBS

#=============================================================================
# AMG
#=============================================================================

AMG_CC="gcc"
AMG_INCLUDE="-I/usr/local/include"
AMG_LIBS="-L/usr/local/lib -lm"

export AMG_CC AMG_INCLUDE AMG_LIBS

