# Copyright (c) 1998 Lawrence Livermore National Security, LLC and other
# HYPRE Project Developers. See the top-level COPYRIGHT file for details.
#
# SPDX-License-Identifier: (Apache-2.0 OR MIT)

sphinx>=5.3.0
breathe>=4.34.0
sphinx-rtd-theme>=1.1.1
docutils>=0.17.1
jinja2>=3.1.2
pygments>=2.13.0
setuptools>=65.6.3


