*.o
*.obj
*.a
*.so
*.out.*
*.err.*
*.err
*.out
*.perf
*.btr
*.patch
.gdbinit
build.sh
update.sh
make.log
config.log
config.status
Makefile.config
HYPRE_config.h
autom4te.cache
src/TAGS
hypre/
install/
AUTOTEST/*.dir
out/
.vscode
.vs

###############
# Documentation
###############
src/docs/ref-manual/html/
src/docs/ref-manual-html/
src/docs/ref-manual.pdf
src/docs/ref-manual/latex/
src/docs/ref-manual/xml/
src/docs/usr-manual-html/
src/docs/usr-manual/html/
src/docs/usr-manual.pdf
src/docs/usr-manual/_build/

###############
# Executables
###############
src/test/ams_driver
src/test/ams_driver.exe
src/test/ij
src/test/ij.exe
src/test/ij_assembly
src/test/ij_assembly.exe
src/test/ij_mv
src/test/ij_mv.exe
src/test/ij_mm
src/test/ij_mm.exe
src/test/maxwell_unscaled
src/test/maxwell_unscaled.exe
src/test/sstruct
src/test/sstruct.exe
src/test/sstruct_fac
src/test/sstruct_fac.exe
src/test/struct
src/test/struct.exe
src/test/struct_migrate
src/test/struct_migrate.exe
src/test/zboxloop
src/test/zboxloop.exe
src/examples/ex[0-9]
src/examples/ex[0-9].exe
src/examples/ex1[0-8]
src/examples/ex1[0-8].exe
src/examples/ex5f
src/examples/ex5f.exe
src/examples/ex12f
src/examples/ex12f.exe
