# Compiled source #
###################
*.dll
*.exe
*.o
*.so
*.a

# TAGS #
########
TAGS

# Config files #
################
config.log
config.status
Makefile.config
HYPRE_config.h

# Temporary files #
###################
*.swp
*~

# Drivers #
###########
src/test/ams_driver
src/test/ij
src/test/ij_mv
src/test/maxwell_unscaled
src/test/sstruct
src/test/sstruct_fac
src/test/struct
src/test/struct_migrate
src/test/zboxloop
src/test/ex15big
src/test/ex18comp
src/test/ex5big
src/test/TEST_lobpcg/ij
src/test/TEST_lobpcg/sstruct
src/test/TEST_superlu/ij
src/test/TEST_timing/struct
src/test/TEST_sstruct/maxwell_unscaled
src/test/TEST_sstruct/struct
src/test/TEST_sstruct/sstruct
src/examples/ex1
src/examples/ex10
src/examples/ex11
src/examples/ex12
src/examples/ex12f
src/examples/ex13
src/examples/ex14
src/examples/ex15
src/examples/ex15big
src/examples/ex16
src/examples/ex17
src/examples/ex18
src/examples/ex18comp
src/examples/ex2
src/examples/ex3
src/examples/ex4
src/examples/ex5
src/examples/ex5big
src/examples/ex5f
src/examples/ex6
src/examples/ex7
src/examples/ex8
src/examples/ex9

# Folders #
###########
src/hypre/
src/cmbuild/
AUTOTEST/*.dir/

# Test outputs #
################
AUTOTEST/basic.err
AUTOTEST/basic.out
AUTOTEST/cmake.err
AUTOTEST/cmake.out
AUTOTEST/run.err
AUTOTEST/run.out
src/test/TEST_ams/solvers.err*
src/test/TEST_ams/solvers.out*
src/test/TEST_examples/maxdim.out*
src/test/TEST_examples/maxdim.err*
src/test/TEST_examples/default.out*
src/test/TEST_examples/default.err*
src/test/TEST_examples/complex.out*
src/test/TEST_examples/complex.err*
src/test/TEST_examples/bigint.out*
src/test/TEST_examples/bigint.err*
src/test/TEST_examples/fortran_examples.err
src/test/TEST_ij/solvers.out*
src/test/TEST_ij/solvers.err*
src/test/TEST_ij/smoother.out*
src/test/TEST_ij/smoother.err*
src/test/TEST_ij/matrix.out*
src/test/TEST_ij/matrix.err*
src/test/TEST_ij/interp.out*
src/test/TEST_ij/interp.err*
src/test/TEST_ij/elast.out*
src/test/TEST_ij/elast.err*
src/test/TEST_ij/default.out*
src/test/TEST_ij/default.err*
src/test/TEST_ij/coarsening.out*
src/test/TEST_ij/coarsening.err*
src/test/TEST_ij/agg_interp.out*
src/test/TEST_ij/agg_interp.err*
src/test/TEST_lobpcg/ijdefault.err*
src/test/TEST_lobpcg/ijdefault.out*
src/test/TEST_lobpcg/ijoptions.err*
src/test/TEST_lobpcg/ijoptions.out*
src/test/TEST_lobpcg/sstruct.err*
src/test/TEST_lobpcg/sstruct.out*
src/test/TEST_sstruct/sstruct_struct.err*
src/test/TEST_sstruct/sstruct_struct.out*
src/test/TEST_sstruct/symm.err*
src/test/TEST_sstruct/symm.out*
src/test/TEST_sstruct/wide.err*
src/test/TEST_sstruct/wide.out*
src/test/TEST_sstruct/zcube.err*
src/test/TEST_sstruct/zcube.out*
src/test/TEST_struct/cgpfmg3d.err*
src/test/TEST_struct/cgpfmg3d.out*
src/test/TEST_struct/emptyproc.err*
src/test/TEST_struct/emptyproc.out*
src/test/TEST_struct/hybrid.err*
src/test/TEST_struct/hybrid.out*
src/test/TEST_struct/hybridswitch.err*
src/test/TEST_struct/hybridswitch.out*
src/test/TEST_struct/migrate.err*
src/test/TEST_struct/migrate.out*
src/test/TEST_struct/parflow.err*
src/test/TEST_struct/parflow.out*
src/test/TEST_struct/periodic.err*
src/test/TEST_struct/periodic.out*
src/test/TEST_struct/pfmgbase1d.err*
src/test/TEST_struct/pfmgbase1d.out*
src/test/TEST_struct/pfmgbase2d.err*
src/test/TEST_struct/pfmgbase2d.out*
src/test/TEST_struct/pfmgbase3d.err*
src/test/TEST_struct/pfmgbase3d.out*
src/test/TEST_struct/pfmgconstcoeffmp.err*
src/test/TEST_struct/pfmgconstcoeffmp.out*
src/test/TEST_struct/pfmgorient.err*
src/test/TEST_struct/pfmgorient.out*
src/test/TEST_struct/pfmgtest1d.err*
src/test/TEST_struct/pfmgtest1d.out*
src/test/TEST_struct/pfmgvcycle.err*
src/test/TEST_struct/pfmgvcycle.out*
src/test/TEST_struct/psmgbase3d.err*
src/test/TEST_struct/psmgbase3d.out*
src/test/TEST_struct/psmgtest3d.err*
src/test/TEST_struct/psmgtest3d.out*
src/test/TEST_struct/smgbase1d.err*
src/test/TEST_struct/smgbase1d.out*
src/test/TEST_struct/smgbase2d.err*
src/test/TEST_struct/smgbase2d.out*
src/test/TEST_struct/smgbase3d.err*
src/test/TEST_struct/smgbase3d.out*
src/test/TEST_struct/smgtest1d.err*
src/test/TEST_struct/smgtest1d.out*
src/test/TEST_struct/smgvcycle.err*
src/test/TEST_struct/smgvcycle.out*
src/test/TEST_struct/solvers.err*
src/test/TEST_struct/solvers.out*
src/test/TEST_struct/vcpfmgRedBlackGS.err*
src/test/TEST_struct/vcpfmgRedBlackGS.out*
src/test/TEST_struct/vdpfmgRedBlackGS.err*
src/test/TEST_struct/vdpfmgRedBlackGS.out*
src/test/TEST_sstruct/addtovalues.err*
src/test/TEST_sstruct/addtovalues.out*
src/test/TEST_sstruct/amr2d.err*
src/test/TEST_sstruct/amr2d.out*
src/test/TEST_sstruct/cube.err*
src/test/TEST_sstruct/cube.out*
src/test/TEST_sstruct/cycred.err*
src/test/TEST_sstruct/cycred.out*
src/test/TEST_sstruct/default2d.err*
src/test/TEST_sstruct/default2d.out*
src/test/TEST_sstruct/default3d.err*
src/test/TEST_sstruct/default3d.out*
src/test/TEST_sstruct/default2d.err*
src/test/TEST_sstruct/emptyProc.err*
src/test/TEST_sstruct/emptyProc.out*
src/test/TEST_sstruct/maxwell.err*
src/test/TEST_sstruct/maxwell.out*
src/test/TEST_sstruct/miller.err*
src/test/TEST_sstruct/miller.out*
src/test/TEST_sstruct/neighborpart.err*
src/test/TEST_sstruct/neighborpart.out*
src/test/TEST_sstruct/neumann.err*
src/test/TEST_sstruct/neumann.out*
src/test/TEST_sstruct/periodic.err*
src/test/TEST_sstruct/periodic.out*
src/test/TEST_sstruct/sharedpart.err*
src/test/TEST_sstruct/sharedpart.out*
src/test/TEST_sstruct/solvers.err*
src/test/TEST_sstruct/solvers.out*
