*.o
*.obj
*.a
*.so
*.out.*
*.err.*
*.err
*.out
*.perf
config.log
config.status
Makefile.config
HYPRE_config.h
autom4te.cache
src/TAGS
hypre/
cmbuild/
.vscode

###############
# Documentation
###############
src/docs/ref-manual/html/
src/docs/ref-manual-html/
src/docs/ref-manual.pdf
src/docs/ref-manual/latex/
src/docs/ref-manual/xml/
src/docs/usr-manual-html/
src/docs/usr-manual/html/
src/docs/usr-manual.pdf
src/docs/usr-manual/_build/

###############
# Executables
###############
src/test/ams_driver
src/test/ij
src/test/ij_assembly
src/test/ij_mv
src/test/ij_mm
src/test/maxwell_unscaled
src/test/sstruct
src/test/sstruct_fac
src/test/struct
src/test/struct_migrate
src/test/zboxloop
src/examples/ex[0-9]
src/examples/ex1[0-6]
src/examples/ex5f
src/examples/ex12f
