#BHEADER***********************************************************************
# (c) 1996   The Regents of the University of California
#
# See the file COPYRIGHT_and_DISCLAIMER for a complete copyright
# notice, contact person, and disclaimer.
#
# $Revision$
#EHEADER***********************************************************************

#=============================================================================
# Defaults for everything
#
# If user does not set these in a configuration file then these values
# will be used.
#=============================================================================

#=============================================================================
# Commands
#=============================================================================

AMG_INSTALL="cp -fp"
AMG_MKDIR="mkdir"

export AMG_MKDIR AMG_INSTALL

#=============================================================================
# AMG
#=============================================================================

AMG_CC="cc"
AMG_CC_OPT="-O"
AMG_CC_DEBUG="-g"
AMG_CC_FLAGS=""
AMG_F77="f77"
AMG_F77_OPT="-O"
AMG_F77_DEBUG="-g"
AMG_F77_FLAGS=""
AMG_F90="f90"
AMG_F90_OPT="-O"
AMG_F90_DEBUG="-g"
AMG_F90_FLAGS=""
AMG_LINK="cc"
AMG_LINK_FLAGS=""
AMG_LIBS="-lF77 -lm"
AMG_INCLUDE=""
AMG_MAKE="make"
AMG_AR="ar -ru"
AMG_RANLIB="ranlib"

export AMG_CC AMG_CC_OPT AMG_CC_DEBUG AMG_CC_FLAGS
export AMG_F77 AMG_F77_OPT AMG_F77_DEBUG AMG_F77_FLAGS
export AMG_F90 AMG_F90_OPT AMG_F90_DEBUG AMG_F90_FLAGS
export AMG_LINK AMG_LINK_FLAGS
export AMG_LIBS AMG_INCLUDE AMG_MAKE
export AMG_AR AMG_RANLIB

