#=============================================================================
# Defaults for everything
#
# If user does not set these in a configuration file then these values
# will be used.
#=============================================================================

#=============================================================================
# Commands
#=============================================================================

AMG_INSTALL="cp -fp"
AMG_MKDIR="mkdir"

export AMG_MKDIR AMG_INSTALL

#=============================================================================
# AMG
#=============================================================================

AMG_CC="cc"
AMG_CC_OPT="-O"
AMG_CC_DEBUG="-g"
AMG_CC_FLAGS=""
AMG_F77="f77"
AMG_F77_OPT="-O"
AMG_F77_DEBUG="-g"
AMG_F77_FLAGS=""
AMG_LINK="f77"
AMG_LINK_FLAGS=""
AMG_LIBS="-lm"
AMG_INCLUDE=""
AMG_MAKE="make"

export AMG_CC AMG_CC_OPT AMG_CC_DEBUG AMG_CC_FLAGS
export AMG_F77 AMG_F77_OPT AMG_F77_DEBUG AMG_F77_FLAGS
export AMG_LINK AMG_LINK_FLAGS
export AMG_LIBS AMG_INCLUDE AMG_MAKE

