
#=============================================================================
# Configuration file for Irix systems
#=============================================================================

#=============================================================================
# Tools
#=============================================================================

#=============================================================================
# AMG
#=============================================================================

