
#=============================================================================
# Configuration file for Irix systems
#=============================================================================

#=============================================================================
# Tools
#=============================================================================

AMGTOOLS_LIBS="-lm"
AMGTOOLS_MAKE="gmake"

export AMGTOOLS_LIBS AMGTOOLS_MAKE

#=============================================================================
# AMG
#=============================================================================

AMG_LIBS="-lm -lmpc -LF77 -lfpe"
AMG_MAKE="gmake"

export AMG_LIBS AMG_MAKE

