#BHEADER***********************************************************************
# (c) 1996   The Regents of the University of California
#
# See the file COPYRIGHT_and_DISCLAIMER for a complete copyright
# notice, contact person, and disclaimer.
#
# $Revision$
#EHEADER***********************************************************************

#=============================================================================
# Configuration file for Sun SunOS systems
#=============================================================================

#=============================================================================
# AMG
#=============================================================================

AMG_CC="gcc"
AMG_F77_FLAGS="-silent"
AMG_LINK="gcc"
AMG_INCLUDE="-I/usr/local/include"
AMG_LIBS="-L/usr/local/lib -L/usr/lang/SC2.0.1 \
          /usr/lang/SC2.0.1/values-Xs.o -lF77 -lM77 -lansi -lm"

export AMG_CC
export AMG_F77_FLAGS
export AMG_LINK
export AMG_LIBS AMG_INCLUDE

