
#=============================================================================
# Configuration file for Sun SunOS systems
#=============================================================================

#=============================================================================
# AMG
#=============================================================================

AMG_CC="gcc"
AMG_F77_FLAGS="-silent"
AMG_LINK="f77"
AMG_INCLUDE="-I/usr/local/include"
AMG_LIBS="-L/usr/local/lib -lm"

export AMG_CC
export AMG_F77_FLAGS
export AMG_LINK
export AMG_LIBS AMG_INCLUDE

