
/* Classic theme customizations: left justify text alignment */
/*
div.body p, div.body dd, div.body li, div.body blockquote {
    text-align: left;
}
*/

/* Alabaster theme customizations: move Georgia first to get better rendering on
   Windows platforms */
/*
body {
    font-family: Georgia, 'goudy old style', 'minion pro', 'bell mt', 'Hiragino Mincho Pro', serif;
    font-size: 17px;
    background-color: #fff;
    color: #000;
    margin: 0;
    padding: 0;
}
*/
